.space{
    color: white;
}
.logo-container{
    text-align: center;
}
.logo-login{
    width: 400px !important;
    height: auto;
    margin: 0 auto;
}
.el-form--label-top .el-form-item__label{
    font-weight: bold !important;
    color: #1a202c;
}
